<h1>Add Match</h1>
<form>
  <div class="col-6">
    <label>Map Name:</label>
    <select ng-model="mapName">
      <option ng-repeat="map in maps | orderBy">{{map}}</option>
    </select>
    <label>Game Type:</label>
    <input type="text" ng-model="gameType" />
    <label>Against a Fireteam of 3 or more?:</label>
    <input type="checkbox" ng-model="vsFireteam" />
  </div>
  <div class="col-6">
    <label>Win:</label>
    <input type="checkbox" ng-model="win" />
    <label>K/D:</label>
    <input type="number" ng-model="kd" />
    <label>K + A / D</label>
    <input type="number" ng-model="kad" />
  </div>
  <button ng-click="submitMatch()">Enter</button>
</form>

<div row>
  <h2 class="text--center">Time: {{minutes}}m {{seconds}}s</h2>
</div>
<div row>
  <button column="4" ng-click="startTimer()">{{startText}}</button>
  <button column="4" ng-click="resetTimer()">Reset</button>
  <button column="4" ng-click="useCurrentTimer()">Enter Time Alive</button>
</div>

<h1>Deaths This Match:</h1>
<div row>
  <label column="2">Weapon Name:</label>
  <input column="2" type="text" ng-model="weaponName" onClick="this.select();"/>
  <label column="2">Weapon Type:</label>
  <input column="2" type="text" ng-model="weaponType" onClick="this.select();"/>
  <label column="2">Time Alive:</label>
  <input column="2" type="text" ng-model="timeAlive" onClick="this.select();"/>
</div>
<button ng-click="addDeath()">Enter</button>

<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Killed With:</th>
        <th scope="col">Weapon Type:</th>
        <th scope="col">Time Alive</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="death in deaths">
        <td>{{death.weaponName}}</td>
        <td>{{death.weaponType}}</td>
        <td>{{death.timeAlive}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--if deaths array has any deaths allow this button to show-->
<button ng-if="deaths.length" ng-click="finalStats()">Submit Match Final Stats</button>
