<h1>Options</h1>

<h3>Edit Maps</h3>
  <table>
    <thead>
      <tr>
        <th scope="col">Map Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="map in maps | orderBy">
        <td>{{map}}</td>
      </tr>
    </tbody>
  </table>

<!--makes more sense to include this on add new game, not general settings-->
<h1>Edit Default Death</h1>
<p>Change your default death to waste less time while documenting games.
  (Note: We suggest 'shotgun' as your default death type)
</p>
  <table>
    <thead>
      <tr>
        <th scope="col">Killed With</th>
        <th scope="col">Time Alive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Shotgun</td>
        <td>Average</td>
      </tr>
    </tbody>
  </table>
