h1 {
  color: #a77;
}

body {
    background-image: url("./plainDestiny.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #222;
}
