h1, h2 {
  color: #a77;
}

body {
    background-image: url("./crucibleEmblem.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FC3C3C;
}
